@page
@using DomainLayer.BusinessLogic.Mailing.Models
@model MailModel

<!-- Begin document -->

<div style="width: 100%; height: 100%;">
    <header class="bg-primary" style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        gap: 5ch;
        padding-inline: 5ch;"
    >
        <h1 style="margin: 0">@Model.MailTitle</h1>

        <img src="@Model.AutoValues.LogoSrc" style="width: 100px; height: 100px;" />
    </header>

    <div style="
        margin: 1rem;
        width: min(80ch, 100%);
        justify-self: center;"
        >
        @RenderBody()
    </div>

    <footer>
        <hr style="height: 2em" class="bg-primary"/>
        
        <div style="padding-inline: 5ch">
            @if (!string.IsNullOrEmpty(Model.AutoValues.GoToHyperref))
            {
                <p>@Model.Localizer.Localize("Open ticket"): <a href="@Model.AutoValues.GoToHyperref">@Model.AutoValues.GoToHyperref</a></p>
            }
        </div>

        <hr style="height: 1em" class="bg-primary"/>
    </footer>
</div>

<style>
    html, body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        
        --primary: #409eff;
    }

    .bg-primary {
        background-color: var(--primary);
    }

    .card-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: #e2e2e2;
        display: flex;
        flex-direction: column;
    }

    .card > * {
        padding-inline: 20px;
    }

    .card > .card-header {
        border-bottom: 1px solid black;
    }

    .card > .card-separator {
        align-self: center;
    }

    .icon {
        width: 2ch;
    }

    span.color-dot {
        border-radius: 100%;
        width: 0.8em;
        height: 0.8em;
        display: inline-block;
    }
</style>