@page
@using DomainLayer.BusinessLogic.Mailing.Models
@model TicketDataChangedModel

<!-- Begin document -->

@{
    Layout = "mailLayout";
}

@if (Model.TitleChange is not null)
{
    <h2>@Model.Localizer.Localize("Title changed")</h2>
    <p>@Model.TitleChange?.OldValue <img src="@Model.ArrowRightIconSrc" alt="->" class="icon" /> @Model.TitleChange?.NewValue</p>
}

@if (Model.DescriptionChange is not null)
{
    <h2>@Model.Localizer.Localize("Description changed")</h2>
    <div class="card">
        <p>@Model.DescriptionChange?.OldValue</p>
        <img src="@Model.ArrowDownIconSrc" alt="v" class="icon card-separator" />
        <p>@Model.DescriptionChange?.NewValue</p>
    </div>
}

@if (Model.PriorityChange is not null)
{
    <h2>@Model.Localizer.Localize("Priority changed")</h2>
    <p>@Model.PriorityChange?.OldValue <img src="@Model.ArrowRightIconSrc" alt="---" class="icon"/>  @Model.PriorityChange?.NewValue</p>
}

@if (Model.StateChange is not null)
{
    <h2>@Model.Localizer.Localize("State changed")</h2>
    <p>@Model.StateChange?.OldValue <img src="@Model.ArrowRightIconSrc" alt="---" class="icon"/>  @Model.StateChange?.NewValue</p>
}

@if (Model.BuildingChange is not null)
{
    <h2>@Model.Localizer.Localize("Building changed")</h2>
    <p>@Model.BuildingChange?.OldValue <img src="@Model.ArrowRightIconSrc" alt="---" class="icon"/>  @Model.BuildingChange?.NewValue</p>
}

@if (Model.RoomChange is not null)
{
    <h2>@Model.Localizer.Localize("Room changed")</h2>
    <p>@Model.RoomChange?.OldValue <img src="@Model.ArrowRightIconSrc" alt="---" class="icon"/>  @Model.RoomChange?.NewValue</p>
}

@if (Model.ObjectChange is not null)
{
    <h2>@Model.Localizer.Localize("Affected object changed")</h2>
    <p>@Model.ObjectChange?.OldValue <img src="@Model.ArrowRightIconSrc" alt="---" class="icon"/>  @Model.ObjectChange?.NewValue</p>
}