@page
@using DomainLayer.BusinessLogic.Mailing.Models
@model TicketChangedModel

<div class="container">
    <header>
        <h1>Ticket '@Model.TicketTitle' wurde geändert</h1>
        <img class='logo' src="@Model.LogoSrc" />
    </header>

    <div class="content">
        @if (Model.TitleChange is not null)
        {
            <h3>Titel geändert</h3>
            <p>@Model.TitleChange?.NewValue <i>-></i> @Model.TitleChange?.OldValue</p>
        }

        @if (Model.DescriptionChange is not null)
        {
            <h3>Beschreibung geändert</h3>
            <div class="card">
                <p>@Model.DescriptionChange?.NewValue</p>
                <i>-></i>
                <p>@Model.DescriptionChange?.OldValue</p>
            </div>
        }


    </div>
</div>

<style>
    html, body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }

    .container {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: min-content, auto;
    }

    header {
        grid-row: 1;
        display: flex;

        justify-content: space-between;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        background-color: #409EFF;
    }

    header > h1 {
        padding-inline: 5ch;
    }

    header > .logo {
        padding-inline: 5ch;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .content {
        grid-row: 2;
        margin-inline: 10ch;
        max-width: 80ch;
    }

    .card {
        padding: 20px;
        background-color: #e2e2e2;
    }
</style>